{%extends "base.html"%}

{% block title %}掃描頁面{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/attack.css') }}">
{% endblock %}

{% block content %}
<div id="attack-root"></div>

<script>
  // 初始化數據
  window.INITIAL_DATA = {
    targetId: "{{ target_id }}",
    target: {
      target_ip: "{{ target.target_ip }}",
      target_port: "{{ target.target_port }}",
      target_username: "{{ target.target_username }}",
      target_password: "{{ target.target_password }}"
    },
    currentUser: {
      id: "{{ current_user.id }}"
    }
  };
</script>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}